.color-background-wet-asphalt{
	background-color: #34495e;
}
.color-white{
	color: white;
}

.col-md-sin-relleno{
	padding-right: 0;
	padding-left: 0;
}

/* bootstrap customize */
.navbar-default {
    background-color: #34495e;
    border-color: #34495e;
}
.navbar{
	border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.nav-pills > li > a {
    border-radius: 0px;
    color: white;
}
.nav-pills > li > a:hover{
	color: black;
}
.form-control{
	border-radius: 0;
}
.btn{
	border-radius: 0;
}
.input-group-addon{
	border-radius: 0;
}

/*------------------*/
.subtitle{
	background-color: #f1c40f;
    padding: 15px;
    margin-bottom: 15px;
    color: #000;
}
.aside{
	padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    /* height: 200px; */
    
    vertical-align: middle;
    color: #ddd;
}

.aside>div{
	font-size: 5em;
}
.aside>span{
	font-size: 1.5em;
}
.opciones>.form-group{
	display: none;
}