.nav-tabs > li > a {
    border-radius: 0 !important;
}
.pregunta-activa{
	font-size: 2.6em;
    padding: 1.2em;
    color: #464646;
}
.pregunta-activa-uno{
	font-size: 2em;
    padding: 2em;
    color: #95a5a6;
}
.thead-q{
	background-color: #34495e;
    border-bottom: 4px solid #2c3e50;
    color: white;
}
.td-q{
	background-color: #eee;
}
.btn-default{
	border-radius: 0;
	background-color: #f1c40f;
	border: 1px solid #f39c12;
}
.btn-default:hover{
	background-color: #f1c40f;
	border: 1px solid #f1c40f;
}
.btn-default:focus{
	background-color: #f1c40f !important;
	border: 1px solid #f1c40f !important;
}
.btn-warning{
	border-radius: 0;
	background-color: #34495e;
	border: 1px solid #2c3e50;
}
.btn-warning:hover{
	background-color: #34495e;
	border: 1px solid #34495e;
}
.btn-warning:focus{
	background-color: #34495e !important;
	border: 1px solid #34495e !important;
}
.form-control{
	border-radius: 0;

}
.label-form{
	background-color: #ecf0f1;
	padding: 7px 15px;
	margin-bottom: 0;
	
	margin:0;
}
.label-ayuda{
	background-color: #34495e;
	padding: 7px 15px;
	text-align: center;
	margin-bottom: 0;
	margin: 0;
	color: white;
}
.loading{
	padding: 15px;
	display: none;
}
.loading>img{
	width: 50px;
}
.mensaje-enviado{
	margin-bottom: 1em;
	color: #34495e;
}
.msg{
	margin-bottom: 1em;
}
.form-control[disabled]{
	background-color: #fbfbfb;
}
.pregunta-content{
	display: none;
}
#container {
  margin-bottom: 50px;
  width: 100%;
  height: 8px;
  position: relative;
}
.identificacion{
	padding-top: 6em;
}
.panel{
	border-radius: 0px;
}
.text-id{
	font-size: 1.5em;
	
}
.img-logo{
	margin-bottom: 3em;
}

.uppercase{
	text-transform: uppercase;
}

.opa-content{
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    left: 0;
    padding-top: 12em;
}